{% extends "NewsBundle:Admin:layout.html.twig" %}

{% block content %}
    {{parent()}}
    <h1>Goods list</h1>

    <table class="records_list table table-hover table-bordered">
        <thead>
        <tr>
            <th>Goods</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.getGoodsId }}</td>
                <td>{{ entity.getGoodsCategory }}</td>
                <td>
                    <a href="{{ path('goods_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('goods_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
