{% extends "NewsBundle::layout.html.twig" %}

{% form_theme form 'NewsBundle:Form:fields.html.twig' %}

{% block title %}{% trans %}Registration{% endtrans %}{% endblock %}

{% block head%}
    {{parent()}}
    {% javascripts
    '@NewsBundle/Resources/public/js/repeatPassword.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock%}
{% block content %}    
         
        <form action="{{ path('_registration') }}" method="post" {{ form_enctype(form) }} class="col-md-offset-4 col-md-4 well">
            <div class="control-group">
                {{form_label(form.user_name, "Username", {'attr':{'class': 'label' }} )}}
                <div class="controls">
                    {{form_widget(form.user_name,{'attr':{'pattern': '^[a-zA-Z0-9_]+$','placeholder': 'Your name', 'class':'form-control' }} )}}
                    {{ form_errors(form. user_name) }}
                </div>
            </div>
                <p></p>
            <div class="control-group">
                {{form_label(form.user_email, "Email", {'attr':{'class': 'label' }} )}}
                <div class="controls">
                    {{form_widget(form.user_email,{'attr':{'placeholder': 'example@example.com', 'class':'form-control' }} )}}
                     {{ form_errors(form.user_email)}}
                  </div>
            </div>
                <p></p>
            <div class="control-group">
                {{form_label(form.user_password, null, {'label': 'Password', 'attr':{'class': 'label' }} )}}
                <div class="controls">
                    {{form_widget(form.user_password,{'attr':{'placeholder': 'Password', 'class':'password1 form-control' }} )}}
                    {{ form_errors(form.user_password)}}
                </div>
            </div>     
                <p></p>
            <div class="control-group">
                <label for="password2">{% trans %}Repeat password{% endtrans %}</label>
                <div class="controls">
                     <input class="form-control" type="password" id="password2" name="_password" placeholder="Repeat password" />
                </div>
            </div>
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                <p></p>
            <input type="submit" class="btn btn-success" value="{% trans %}Registration{% endtrans %}"/>
        </form>    
{% endblock %}
