{% extends "NewsBundle:Admin:layout.html.twig" %}

{% form_theme edit_form 'NewsBundle:Form:newsForm.html.twig' %}
{% form_theme delete_form 'NewsBundle:Form:delete.html.twig' %}

{% block content -%}
    {{parent()}}
    <h1 class="text-center">News edit</h1>
    {{ tinymce_init() }}
    <div class="row" >
        <div class="col-md-12 jumbotron">
            {{ form_start(edit_form, {'attr':{'class':'form-horizontal col-md-offset-1' }} ) }}
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.description) }}
            {{ form_row(edit_form.content) }}
            {{ form_row(edit_form.author) }}
            {{ form_row(edit_form.category) }}
            {{ form_row(edit_form.news, {'attr':{'class':' form-control selectpicker',
            'data-max-options':'5' ,
            'data-selected-text-format':'count',
            'data-live-search':'true'}} ) }}
            {{ form_widget(edit_form.submit) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
    {{ form(delete_form) }}
    <a href="{{ path('news') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>   
{% endblock %}
