{% extends "NewsBundle:Admin:layout.html.twig" %}

{% block content %}
    {{parent()}}
    <h1>News list</h1>
    <div class="col-md-6">
        <form class="well">
            <div class="form-group">
                <label for="search" class="text-muted">{{'Search. If you want only to filter, left this field empty'|trans}}</label>
                <input class="form-control" type="text" id="search" name="_search" placeholder="Search">
            </div>
            <div class="form-group">
                <label for="author" class="text-muted">{{"Filters by author. If u don't want, left this field empty"|trans}}</label>
                <input class="form-control" type="text" id="author" name="_author" placeholder="Author">
            </div>
            <button class="btn">Search</button>
        </form>
    </div>
    <table class="records_list table table-hover table-bordered">
        <thead>
        <tr>
            <th>{{'Title'|trans}}</th>
            <th>{{'Author'|trans}}</th>
            <th>{{'Publication date'|trans}}</th>
            <th>{{'Category'|trans}}</th>
            <th>{{'Description'|trans}}</th>
            <th>{{'Actions'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.author }}</td>
                <td>{% if entity.publicationdate %}{{ entity.publicationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <ul class="list-group list-unstyled">
                        <li>
                            <a href="{{ path('news_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
