{% extends "NewsBundle:Admin:layout.html.twig" %}

{% form_theme form 'NewsBundle:Form:newsForm.html.twig' %}

{% block content -%}
    {{parent()}}
    <h1 class="text-center">{{'News creation'|trans}}</h1>
    
    {{ tinymce_init() }}
    <div class="row" >
        <div class="col-md-12 jumbotron">
        {{ form_start(form, {'attr':{'class':'form-horizontal col-md-offset-1' }} ) }}
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.content) }}
        {{ form_row(form.author) }}
        {{ form_row(form.category) }}
        {{ form_row(form.news,{'attr':{'class':' form-control selectpicker',
            'data-max-options':'5' ,
            'data-selected-text-format':'count',
            'data-live-search':'true'}} ) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
        </div>
    </div>
     <a href="{{ path('news') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>   

{% endblock %}
