{% extends "NewsBundle:Admin:layout.html.twig" %}

{% form_theme edit_form 'NewsBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'NewsBundle:Form:delete.html.twig' %}

{% block content -%}
    {{parent()}}
    <div class="row col-md-offset-1">
        <a href="{{ path('admin_seller') }}"  class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>
        <p></p>
        {% if is_granted('ROLE_ADMIN') %}
            {{ form(delete_form,{'attr':{'onclick':' return confirm("Are you sure you want to delete this seller?")' }} ) }}
        {% endif %}
    </div>
    <h1 class="text-center">Edit Seller </h1>
    <div class="row" >
        <div class="col-md-5 col-md-offset-4">
            {{ form_start(edit_form)}}
            {{ form_errors(edit_form)|trans }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.address) }}
            {{ form_row(edit_form.email) }}
            {{ form_row(edit_form.skype) }}
            {{ form_row(edit_form.number ) }}
            {{ form_row(edit_form.schedule) }}
            {{ form_row(edit_form.description) }}
            {{ form_widget(edit_form.submit) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}

