{% extends "NewsBundle:Admin:layout.html.twig" %}

{% block content %}
    {{parent()}}
    <h1>Sellers list</h1>

    <table class="records_list table table-hover table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Skype</th>
            <th>Phone</th>
            <th>Schedule</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_seller_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.skype }}</td>
                <td>{% for phone in entity.phone %}
                        <span class="text-center">{{ phone }}</span>
                    {% else %}
                    {% endfor %}
                </td>
                <td>{{ entity.schedule }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <ul class="list-group list-unstyled">
                        <li>
                            <a href="{{ path('admin_seller_edit', { 'id': entity.id }) }}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
