{% extends "NewsBundle:Admin:layout.html.twig" %}

{% form_theme edit_form 'NewsBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'NewsBundle:Form:delete.html.twig' %}


{% block content -%}
    {{parent()}}
    <a href="{{ path('user') }}"  class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>   
    {{ form(delete_form) }}
    <h1 class="text-center">User edit</h1>    
    <div class="row" >
        <div class="col-md-5 col-md-offset-4">
        {{ form_start(edit_form, {'attr':{'class':'form-horizontal col-md-offset-1' }} ) }}
        {{ form_errors(edit_form) }}
        {{ form_row(edit_form.user_name) }}
        {{ form_row(edit_form.user_email) }}
        {{ form_row(edit_form.user_password) }}
        {{ form_row(edit_form.user_role) }}
        {{ form_widget(edit_form.submit) }}
        {{ form_end(edit_form) }}
        </div>
    </div>
                   
        

{% endblock %}
