{% extends "NewsBundle:Admin:layout.html.twig" %}

{% block content -%}
    {{parent()}}
    <h1>User list</h1>
    <table class="records_list table table-hover table-bordered">
        <thead>
            <tr>
                <th>User_name</th>
                <th>User_email</th>
                <th>User_password</th>
                <th>User_role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.username }}</td>
                <td>{{ entity.useremail }}</td>
                <td>{{ entity.userpassword }}</td>
                <td>{{ entity.userrole }}</td>
                <td>
                    <ul class="list-group list-unstyled">
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
