{% extends "NewsBundle:Admin:layout.html.twig" %}
{% form_theme delete_form 'NewsBundle:Form:delete.html.twig' %}
{% block content -%}
    {{parent()}}
    <h1>{{'User'|trans}}</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('user') }}"  class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>
             <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default">{% trans %}Edit{% endtrans %}</a>
        </div>
    </div>

    <table class="record_properties table table-bordered">
        <tbody>
            <tr>
                <th>{{'Username'|trans}}</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>{{'User email'|trans}}</th>
                <td>{{ entity.useremail }}</td>
            </tr>
            <tr>
                <th>{{'User password'|trans}}</th>
                <td>{{ entity.userpassword }}</td>
            </tr>
            <tr>
                <th>{{'User role'}}</th>
                <td>{{ entity.userrole }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form(delete_form)}}
    {% endif %}
{% endblock %}
