{% extends "NewsBundle:Admin:layout.html.twig" %}

{% block content -%}
    {{parent()}}
    <h1>User</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('user') }}"  class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>
             <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default">{% trans %}Edit{% endtrans %}</a>
        </div>
    </div>

    <table class="record_properties table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User_name</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>User_email</th>
                <td>{{ entity.useremail }}</td>
            </tr>
            <tr>
                <th>User_password</th>
                <td>{{ entity.userpassword }}</td>
            </tr>
            <tr>
                <th>User_role</th>
                <td>{{ entity.userrole }}</td>
            </tr>
        </tbody>
    </table>
        {{ form(delete_form)}}
{% endblock %}
