{% extends "NewsBundle:Admin:layout.html.twig" %}
{% form_theme edit_form 'NewsBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'NewsBundle:Form:delete.html.twig' %}
{% block content -%}
    {{parent()}}
    
    <div class="row col-md-offset-1">
        <a href="{{ path('category') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>
        {% if is_granted('ROLE_ADMIN') %}
            {{ form(delete_form) }}
        {% endif %}
    </div>
    <h1 class="text-center">Category edit</h1>
    <div class="row" >
        <div class="col-md-5 col-md-offset-4">
            {{ form_start(edit_form)}}
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.category_name) }}
            {{ form_widget(edit_form.submit) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
  
{% endblock %}
