{% extends "NewsBundle:Admin:layout.html.twig" %}

{% form_theme delete_form 'NewsBundle:Form:delete.html.twig' %}

{% block content -%}
    {{parent()}}
    <h1>Category</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('category') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a>
            <a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-default">{% trans %}Edit{% endtrans %}</a>
        </div>
    </div>
        
    <table class="records_list table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Category_name</th>
                <td>{{ entity.categoryname }}</td>
            </tr>
        </tbody>
    </table>
    {{ form(delete_form) }}
    
{% endblock %}
