{% extends "NewsBundle:MainPage:index.html.twig" %}
{% block head%}
    {{parent()}}
    {% javascripts
    '@NewsBundle/Resources/public/js/news.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock%}
{% block news %}
    <div id="center" style="padding:4px" class="col-md-7">
        <div class="container col-md-12" id="news_list">
            {% for news_item in news %}
                <div class="media">
                    <div class="media-body well">
                        <h4 class="media-heading">
                            <a href="{{path('current_news',{'id': news_item.id })}}">{{ news_item.title }}</a>
                        </h4>
                        <footer><h6>{{ news_item.publicationDate|date('Y-m-d H:i:s')}}</h6></footer>
                        <strong>{{ news_item.description }}</strong>
                    </div>
                </div>
            {% else %}
                <h3>No news</h3>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(news) }}
            </div>
        </div>
    </div>
{% endblock %}