{% extends "NewsBundle:MainPage:layout.html.twig" %}
{% block news %}
    <div id="center" style="padding:4px" class="col-md-10 ">
        {% if is_granted('ROLE_MANAGER') %}
            <a href="{{ path('news_edit', { 'id': news.id }) }}" class="btn  btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span>{{'Edit'|trans}}</a>
        {% endif %}
        <div class="container col-md-12">
            <div class="media">
                <div class="media-body well">
                    <h2 class="media-heading">
                        {{ news.title }}
                    </h2>
                    <footer><h6>{{ news.publicationDate|date('Y-m-d H:i:s')}} <i>{{ 'Author'|trans }}:</i> {{ news.author }}</h6></footer>
                    <div class="well" style="word-wrap: break-word;"><p>{{ news.content|raw }}  </p></div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{'Related news'|trans}}
                </div>
                <div class="panel-body">
                    {% for news_item in related_news %}
                        <p>
                            <a href="{{path('current_news',{'id': news_item.id })}}">{{ news_item.title }}</a>
                        </p>
                    {% else %}
                    {% endfor %}
                </div>
            </div>
            {% include 'NewsBundle:MainPage:comments.html.twig' %}


        </div>
    </div>
{% endblock %}

