{% extends "NewsBundle:MainPage:layout.html.twig" %}

{% block news %}
<div id="center" style="padding:4px" class="col-md-7 ">
    <div class="container col-md-12">
        {% for news_item in news %}
            <div class="media">
                <div class="media-body well">
                    <h4 class="media-heading">
                        <a href="{{path('current_news',{'id': news_item.id })}}">{{ news_item.title }}</a>
                    </h4>
                        <footer><h6>{{ news_item.publicationDate|date('Y-m-d H:i:s')}}</h6></footer>
                    <strong>{{ news_item.description }}</strong>
                </div>
            </div>
        {% else %}
            <h3>No news</h3>
        {% endfor %}

    </div>
    <div class="navigation">
        {{ knp_pagination_render(news) }}
    </div>
</div>
{% endblock %}
{% block popular_news %}
<div id="right" style="background-color: whitesmoke" class="col-md-3">
    <p class="bg-primary text-center">Popular news</p>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">First news</h4>
                newsnewsnewsnewsnews
            </div>
        </div>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">Second news</h4>
                newsnewsnewsnewsnews
        </div>
    </div>
</div>
{% endblock %}

