{% extends "NewsBundle::layout.html.twig" %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{form_label(form, null, {'attr':{'class': 'label' }} )}}
        {{ form_errors(form) }}
        {{ form_widget(form,{'attr':{'class': 'form-control' }} ) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block button_widget %}
{% spaceless %}
    <button type="{{ type|default('button') }}" class="btn form-control btn-success"{{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}